@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    background-color: hsl(235, 21%, 88%);
}

section{
    height: 1020px;
    width: 480px;
}

footer{
    position: fixed;
    height: 50px;
    align-content: flex-end;
    bottom: 0;
    width: 35%;
}

#header-one{
    font-weight: 200;
    text-align: center;
    margin-bottom: 0;
    padding-top: 30px;
}

#header-two{
    font-weight: 600;
    text-align: center;
    margin-top: 0;
    color: hsl(230, 55%, 25%);
}

#para-one{
    text-align: center;
    padding-left: 6em;
    padding-right: 5.5em;
    margin-bottom: 40px;
    color: hsl(229, 6%, 66%);
}

.cards-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards{
    width: 60%;
    border: 1px white solid;
    background-color: white;
    margin: 10px;
    height: 200px;
    border-radius: 0.5em;
}

.cards h3{
    color: hsl(230, 55%, 25%);
    padding-left: 1.1em;
}

.cards p{
    color: hsl(229, 6%, 66%);
    padding-left: 1.5em;
    width: 90%;
    font-size: 13px;
    padding-bottom: 20px;
}

img{
    float: right;
    padding-right: 1.5em;
    width: 3.2em;
    height: auto;

}

.cards:nth-of-type(1){
    border-top: 5px hsl(180, 62%, 55%) solid; 
}

.cards:nth-of-type(2){
    border-top: 5px hsl(0, 78%, 62%) solid; 
}

.cards:nth-of-type(3){
    border-top: 5px hsl(34, 97%, 64%) solid; 
}

.cards:nth-of-type(4){
    border-top: 5px hsl(212, 86%, 64%) solid; 
}


/*Responsive Designs For Less than 480px Width*/

@media (max-width: 480px){
    #para-one{
        padding-left: 3.5em;
        padding-right: 3em;
    }

    .cards{
        width: 70%;
    }
}

@media (min-width: 720px){
    #para-one{
        padding-left: 27em;
        padding-right: 27em;
    }

    .set-two{
        width: 30%;
        height: 250px;
    }
    .cards{
        height: 250px;
        width: 40%;
    }

    section{
        height: 1020px;
        width: 1980px;
    }

    .cards-container{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin-right: 10%;
        margin-left: 10%;
    }

    /* #card-one{
        display: inline;
    }

    #card-four{
        display: inline;
    } */

    /* #card-two,#card-three{
        width: 85%;
        margin-left: 1.8em;
    } */

    #card-three{
        /* margin-top: 2em;
        display: inline-block; */
    }

    .cards p{
        color: hsl(229, 6%, 66%);
        padding-left: 1.5em;
        width: 90%;
        font-size: 13px;
        padding-bottom: 70px;
    }
    
}